[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
python-jose = {extras = ["cryptography"], version = "*"}
shortuuid = "*"
python-dotenv = "*"
uvicorn = {extras = ["standard"], version = "*"}
ujson = "*"

[dev-packages]

[requires]
python_version = "3.11"
